<ul class="social-media-icons">
    <li class="icon--linkedin"><a href="https://www.linkedin.com/in/mobiuszero/"><i class="fa fa-linkedin"></i> LinkedIn</a>
    </li>
    <li class="icon--twitter"><a href="https://twitter.com/mobius0Zero"><i class="fa fa-twitter"></i> Twitter</a></li>
    <li class="icon--github"><a href="https://github.com/mobiuszero"><i class="fa fa-github"></i> GitHub</a></li>
</ul>