//************************************************************************//
//  MODULE NAME: Form Components
//************************************************************************//
form.zen-form {
  & {
    .g-recaptcha {
      transform: scale(0.77);
      -webkit-transform: scale(0.77);
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
    }
  }
}