//************************************************************************//
//  MODULE NAME: Form Themes
//************************************************************************//
form.zen-form {
  box-sizing: border-box;
  padding: $body_form_ThemePadding;
  $headings_for_the_form: (1, 2, 3, 4, 5, 6);
  @each $form_heading_styles in $headings_for_the_form {
    h#{$form_heading_styles}, .h#{$form_heading_styles} {
      font-weight: 700;
      line-height: 1.33;
      margin-bottom: 2rem;
      padding: 0;
      @if $body_form_ThemeFontHeadingTextTransform != '' {
        text-transform: $body_form_ThemeFontHeadingTextTransform;
      } @else {
        text-transform: none;
      }
    }
  }
  & {
    .form-control {
      min-height: 50px;
    }
  }
  &.theme_default {
    background: $body_form_ThemeBackgroundColor;
    @if $body_form_ThemeBorderColor == '' {
      border-color: darken($body_form_ThemeBackgroundColor, 15%);
    } @else {
      border-color: $body_form_ThemeBorderColor;
    }
    @if $body_form_ThemeBorderWidth == '' {
      border-width: 0.20rem;
    } @else {
      border-width: $body_form_ThemeBorderWidth;
    }
    border-style: solid;
    border-radius: 0.125rem;
    box-shadow: 0 0 0.130rem $gray-200;
    & button {
      @if $body_form_ThemeBtnFontSize != '' {
        font-size: $body_form_ThemeBtnFontSize;
      }
      @include button_3d_style($body_form_ThemeBackgroundBtnColor, $body_form_ThemeBtnMaxWidth);
    }
    & div.form-disclaimer p {
      @if $body_form_ThemeDisclaimerFontSize != '' {
        font-size: $body_form_ThemeDisclaimerFontSize;
        padding: 0;
      }
    }
  }
}

div.zen-form.modal {
  $headings_for_the_form: (1, 2, 3, 4, 5, 6);
  @each $form_heading_styles in $headings_for_the_form {
    h#{$form_heading_styles}, .h#{$form_heading_styles} {
      font-weight: 700;
      line-height: 1.33;
      margin-bottom: 2rem;
      padding: 0;
      margin-top: 0;
      @if $body_modal_form_FontHeadingTextTransform != '' {
        text-transform: $body_modal_form_FontHeadingTextTransform;
      } @else {
        text-transform: none;
      }
    }
  }
  & div.modal-dialog {
    &.modal-md {
      max-width: 650px;
    }
    &.modal-lg {
      max-width: 950px;
    }
  }
  & button.close {
    position: absolute;
    right: -1rem;
    top: -1.0rem;
    z-index: 100;
    opacity: 1;
    cursor: pointer;
    &::before {
      background: $white;
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: 8px;
      right: 6px;
      z-index: -1;
    }
  }
  & div.modal-header {
    position: relative;
    border: none;
    padding: 0;
  }
  & div.modal-content {
    $headings_for_the_form: (1, 2, 3, 4, 5, 6);
    @each $form_heading_styles in $headings_for_the_form {
      h#{$form_heading_styles}, .h#{$form_heading_styles} {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
    &.modal-theme--text-white {
      color: $white;
    }
    &.modal-theme--bgcolor {
      background: lighten($body_modal_form_themeBackgroundColor, 18%);
      & div.modal-header {
        background: $body_modal_form_themeBackgroundColor;
        padding: 1.5rem;
      }
    }
  }
  & form {
    padding: 0 $body_modal_form_Padding;

    .form-control {
      min-height: 50px;
    }
    & button {
      @if $body_modal_form_BtnFontSize != '' {
        font-size: $body_modal_form_BtnFontSize;
      }
      @include button_3d_style($body_modal_form_BackgroundBtnColor, $body_modal_form_BtnMaxWidth);
    }
  }
  & div.form-disclaimer p {
    @if $body_form_ThemeDisclaimerFontSize != '' {
      font-size: $body_form_ThemeDisclaimerFontSize;
      padding: 0;
    }
  }
}