---
title: Coming Soon
description: My portfolio is under going a revision and will be offline for now.
published: false
website-name: MobiusZero
---
<section class="module title title--bg_image">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center h1">My website is coming soon!!!</h1>
                <h1 class="text-center logo">&lt;MobiusZero &sol;&gt;</h1>
                <div class="row justify-content-md-center">
                    <div class="col-md-7">
                        {{> countdown_clock }}
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <h5 class="text-center h5">Come Follow Me:</h5>
                        {{> social_media }}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>