<section class="module footer">
    <footer class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="footer-site-links">
                    <li>{{ website-name }} &copy; <span id="copyright_year"></span>
                        <script> var date = new Date();
                            var year = date.getFullYear();
                            document.getElementById('copyright_year').innerHTML = year;</script>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</section>
{{> email-only-form-modal }}
<!-- Footer -->
{{> main-scripts }}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<noscript>
    <img src="assets/inc/ip_address_pixel.php" height="0" width="0" alt="Zen Pixel"/>
</noscript>